*{margin:0; padding:0; outline:0;}
a{text-decoration:none;}
.flt{float:left;}
.flr{float:right;}
img{max-width:100%;}
h1, h2, h3, h4, h5, h6, p, ul, ol{margin:0; padding:0;}
body{background:#ececec; font-family: 'Open Sans', sans-serif  !important; /*font-family: 'Philosopher', sans-serif;*/}

#main-container{width:100%;}
.banner-main{position:relative;}
.banner-main ul li{list-style:none; position:relative;}
.banner-main ul li img{width:100%;}
.banner-info{position:absolute; left:50%; top:270px; max-width:1170px; margin:0 auto; margin-left:-585px; color:#fff;} 
.banner-h1{font-size:42px; font-weight:700; line-height:50px; text-transform:uppercase;}
.title-box{width:360px; float:right; margin-right:53px; clear:both;}
.title-box p{font-size:21px; font-family: 'Philosopher', sans-serif; font-style:italic; line-height:30px; margin-top:12px;}
.title-box button{background:#db8e16; border:none; border-radius:25px; height:38px; padding:0 20px; line-height:38px; font-size:16px; font-weight:600; text-transform:uppercase; margin-top:15px;}
.title-box button:hover{background:#9f650c;}
.flex-control-nav {width: 100%; position: absolute; bottom: -40px; text-align: center; display:none;}
/*==============Menu part============================*/
.menu-part{background:url(../images/nav-bg.png) center top; position:absolute; left:0px; top:0px; right:0px; height:55px; color:#fff  !important;}
.top-sec{margin:0px; padding:0px;}
.menu{float:left; width:422px;}
.menu ul{ margin-left:40px;}
.menu ul li{float:left; list-style:none; font-size:13px; text-transform:uppercase; line-height:55px;}
.menu ul li a{color:#c2bcbc; background:url(../images/border-2.png) 0px 25px no-repeat; padding:0 10px; display:block;}
.menu ul li:first-child a{background:none;}
.menu ul li a:hover{color:#fff; text-decoration:none;}

.mobile-menu{display:none;}


.mealing-part{float:left; width:245px; margin-top:10px;}
.mealing-part input{width:165px !important; height:32px; border:none; border-radius:none; background:#434343  !important; padding:0 10px !important; box-sizing:border-box; font-size:13px; font-family: 'Open Sans', sans-serif; color:#c2bcbc !important;}
.sub-butt{border:none; border-radius:none; background:#b37310 !important; padding:0 10px; height:32px; margin-left:-4px; color:#c2bcbc; font-weight: normal;font-size: 14px !important;}
.sub-butt:hover{color:#fff; background:#db8e16;}
.get-part{float:right; width:180px; background:#a11c3a; text-align:center; height:55px; line-height:55px;}
.get-part a{color:#fff; font-size:16px; font-weight:600; text-transform:uppercase; display:block;}
.get-part a:hover{color:#c2bcbc; background:#b9153a; text-decoration:none;}

.sec-list{float:left; margin:2px 0 0 70px;}
.sec-list ul li{float:left; list-style:none; font-size:20px; font-weight:bold; text-transform:uppercase;}
.sec-list ul li a{color:#fff; background:url(../images/border-1.png) 0px 11px no-repeat; padding:0 16px; display:block;}
.sec-list ul li:first-child a{background:none;}
.sec-list ul li a:hover{color:#d3d3d3; text-decoration:none;}

.search-part{float:left; margin:17px 0 0 20px; position:relative;}


.search-icon{position:absolute; right:18px; top:15px; cursor:pointer; display:block;}

.full-bg{background:#a11c3a; padding:35px 0 45px 0; color:#fff; font-family: 'Philosopher', sans-serif;}
.full-bg span{display:block; font-size:21px;}
.full-bg p{font-size:31px; text-align:center;}
.full-bg button{background:url(../images/buttom-bg.png) no-repeat  !important; border:none; color:#ed9813; font-size:16px; font-weight:600; height:38px; margin:0 auto; display:block; width:336px; margin-top:20px; font-family: 'Open Sans', sans-serif;line-height: 13px;}
.full-bg button:hover{color:#fff; opacity:0.7;}
.mobile-section{display:none;}
.graph-pic{margin:65px 0 38px 0;}

.product-box{letter-spacing:73px; text-align:center; margin-bottom:75px;}
.product-box ul li{letter-spacing:normal; display:inline-block; *display:inherit; *zoom:1; vertical-align:top; background:#fff; border:2px solid #fff; border-radius:2px; width:327px; position:relative;}
.inside-div{padding:40px 1px 23px 1px; background:#ececec; border:1px solid #fff;}
.heading1{color:#363636; font-size:24px; font-family: 'Philosopher', sans-serif; font-style:italic; margin:14px 0 0 0;}
.price-tag{color:#a11c3a; font-size:50px; font-weight:bold;}
.product-box p{color:#363636; font-size:24px; font-family: 'Philosopher', sans-serif; font-style:italic; line-height:29px;}
.product-box p span{font-size:18px; display:block; line-height:20px; margin:0 14px;}
.product-box button{background:#989898; border:none; border-radius:2px; color:#fff; padding:0 10px; height:57px; margin-top:38px;}
.product-box button .strong{text-transform:uppercase;  font-size:16px; font-weight:600; font-family: 'Open Sans', sans-serif; font-style:normal;}
.product-box button span{display:block; font-family: 'Philosopher', sans-serif; font-style:italic; font-size:16px;}
.inside-div:hover{background:#fff; border-color:#ccc;}
.product-box ul li:hover{box-shadow:2px 2px  20px #e4e4e4;}
.product-box ul li:hover button{background:#ed9813;}
.product-box button:hover{background:#d4860b!important;}
.button2{margin-top:68px!important;}

.hover-icon{position:absolute; left:140px; top:-16px; background:url(../images/hover-pic.png) center top no-repeat; width:38px; height:19px; display:none;}
.product-box ul li:hover .hover-icon{display:block;}


.event-product{margin:0 0 35px 0;}
.event-product h1{color:#252d36; font-size:28px; font-weight:300; border-bottom:3px solid #d7d7d7; padding-bottom:2px; text-transform:uppercase;}
.event-product h1 span{background:url(../images/next-icon.png) right center no-repeat; padding-right:10px; text-align:center; float:right; font-size:14px; font-weight:500; line-height:25px; margin-top:10px;} 
.event-product h1 span a{color:#252d36;}
.event-product h1 span a:hover{text-decoration:none; color:#a11c3a;}
.event-box{margin:0 0 50px 0; padding:0;}
.slide-warp ul li{list-style:none;}

.post-date{width:135px; float:left;}
.post-date h2{background:#323232; color:#fff; font-size:14px; font-weight:400; padding:15px 0; text-align:center; cursor:pointer;}
.post-info h3{display:none;}
.post-date h2 span{display:block; font-size:12px; margin-top:8px; color:#a2a2a2;}
.event-box:hover .post-date h2{background:#a11c3a;}
.event-box:hover .post-date h2 span{color:#ed9813;}

.post-info{width:225px; float:right; color:#000;}
.post-info p{font-size:16px; line-height:25px; text-transform:uppercase; font-weight:300; padding:10px 18px 0 23px;}
.icon-hover{background:url(../images/next.png) 0px 0px no-repeat !important; width:21px !important; height:18px !important; display:block !important; margin:25px 0 0 23px !important;}
.event-box:hover{background:#fff; cursor:pointer;}
.event-box:hover .icon-hover{background:url(../images/next-hover.png) 0px 0px no-repeat;}

.rsesources-sec{margin:23px 0 0 0;}
.featured-list{background:#a11c3a; height:33px; border-radius:3px; line-height:33px; font-size:14px; font-weight:300; width:124px;}
.featured-list li{float:left; list-style:none;}
.featured-list li:first-child{background:url(../images/star.png) 10px center no-repeat; padding-left:20px;}
.featured-list li:last-child{background:#5d0418; padding:0 10px; border-radius:0 3px 3px 0; float:right;}
.featured-list li a{color:#fff; font-style:italic;display:block;}
.featured-list li:first-child a{padding-left:8px;}
.featured-list li a:hover{text-decoration:none; color:#ed9813;}

.filter-list li{float:left; list-style:none; font-size:14px; font-weight:400; font-style:italic; margin-left:8px;}
.filter-list li:first-child{margin:12px 0 0 0px; color:#a11c3a;}
.filter-list li a{background:#fff; display:block; border-radius:3px; padding:12px 14px; color:#4c4c4c; font-weight:400; font-style:normal;}
.filter-list li a:hover{color:#a11c3a; background:#fce2b9; text-decoration:none;}
.filter-list li:last-child a{background:#ed9813; color:#fff; font-weight:600;}
.filter-list li:last-child a:hover{background:#fce2b9; color:#a11c3a;}

.resu-box{margin:15px 0 0 0; background:#fff; text-align:center;}
.resu-box h3{color:#2c2b2b; font-size:18px; font-weight:600; text-align:center; text-transform:uppercase; padding:28px 0;}
.resu-box p{color:#3b3b3b; font-size:14px; font-weight:300; line-height:22px; text-align:center; margin:0 10px;}
.resu-box h4{background:#f4d39f; height:47px; line-height:47px; padding:0 20px; margin-top:25px; text-align:left;}
.resu-box h4 a{background:url(../images/next-icon.png) right center no-repeat; padding-right:10px; color:#a11c3a; font-size:16px; font-weight:600;}
.resu-box h4 span{display:none;}
.resu-box > img{width:100%; max-height: 150px;}
.resu-box h4:hover{background:#ed9813; display:block;}
.load-more{background:#fff; border:none; border-radius:3px; color:#000; font-size:16px; font-weight:500; height:43px; line-height:43px; display:block; margin:0 auto; margin-top:35px; padding:0 22px;}
.load-more:hover{color:#a11c3a; background:#ed9813;}
.spacial-heading{margin:-15px 13px -5px 13px!important;}

.footer-bg{background:#373737; margin-top:35px; padding:65px 0 48px 0;}
.footer-logo p{color:#898989; font-size:11px; font-weight:500; line-height:20px; margin-top:12px;}
.footer-logo button{background:#ed9813; border:none; font-size:18px; font-weight:600; color:#fff; text-transform:uppercase; height:39px; line-height:39px; padding:0 13px; margin:30px 0 0 70px; display:block;}
.footer-logo button:hover{color:#a11c3a; background:#faaf3b;}

.footer-h{font-size:18px; font-weight:600; color:#ed9813; margin-bottom:15px; white-space:nowrap;}
.footer-h a{color:#ed9813;}
.footer-h a:hover{color:#ed9813; text-decoration:none;}
.footer-list li{list-style:none; white-space:nowrap;}
.footer-list li a{color:#fff; font-size:13px; font-weight:500; line-height:25px;}
.footer-list li a:hover{color:#ed9813; text-decoration:none;}

.wap-div{margin-left:-50px;}
.wap-div2{margin-left:-90px;}
.footer-list2 li{list-style:none; font-size:13px; font-weight:500; line-height:25px;}
.footer-list2 li a{color:#fff;}
.footer-list2 li:first-child ,.last-list{font-size:14px!important;}
.footer-list2 li span{color:#d59a3f; margin-right:5px;}
.footer-list2 li a:hover{color:#ed9813; text-decoration:none;}
.email-d{color:#fff; white-space:nowrap; font-size:13px; font-weight:600;}
.email-d2{color:#fff; white-space:nowrap; margin-top:15px; font-size:13px; font-weight:400;}
.email-d3{color:#fff; margin-top:15px; font-size:13px; font-weight:400;}

.media-icon li{float:left; list-style:none; margin-top:18px;}
.media-icon li+li{ margin-left:10px;}
.media-icon li:hover{opacity:0.8;}

.footer-se{ border-top:1px solid #474747; margin-top:17px;}
.footer-se p{color:#898989; font-size:11px; font-weight:500; margin-top:40px;}
.search-section{margin:25px 0 0 50px;}
.search-section input{background:#434343  !important; color:#919191 !important; font-size:13px; font-weight:400; font-family: 'Open Sans', sans-serif; height:32px; border:none; border-radius:0px; width:225px !important; padding:0 15px !important; box-sizing: border-box;}
.search-section button{background:#ed9813; color:#fff; height:32px; border:none; border-radius:0px; font-size:14px  !important; font-weight: normal;   padding:0 5px; margin-left:-3px; text-transform:uppercase;}
.search-section button:hover{background:#feb749; color:#a11c3a;}

.mobile-footer{display:none;}
.filter-mob{display:none;}
.small-pic{margin:47px 0 46px 0;}


.rsesources-sec .col-lg-3.col-md-3.col-sm-6{padding:0px 8px;}
.icon-img{ padding:18% 0;}


.search-submit{border:2px solid #9b979a; background:none; border-radius:30px; height:53px; width:238px; padding:0 50px 0 20px;  box-sizing:border-box;
}
.sumit-serch{background-color:none; border:none; border-radius:0px;  background:url(../images/search-icon.png) right center no-repeat !important; width:22px; height:22px; position:absolute; right:18px; top:15px; cursor:pointer; display:block;
}

.sumit-serch:hover
{
	background-color: none;
}